<header>
  <h1>profile</h1>
</header>
  <div class="main" >
    <p>今まで学習してきたこと</p>
      <img src="<%= asset_path "html5.png" %>"  class ="html"/>
      <img src="<%= asset_path "css.png" %>"  class ="css"/>
      <img src="<%= asset_path "ruby.png" %>"  class ="ruby"/>
      <img src="<%= asset_path "rails.jpeg" %>"  class ="rails"/>
  </div>
  <div class="main2">
     <img src="<%= asset_path "Github.png" %>"  class ="git"/>
     <img src="<%= asset_path "mysql.png" %>"  class ="mysql"/>
  </div>
  
  <div class="main3">
　  <h2>プログラミングを始めた理由</h2>
　　  <p>私たちの生活に浸透しているWebサービスをpcとスキルさえあれば、
　　　<br>様々なサービスを作成できる可能性に魅力を感じたため。</br></p>
　　<h2>制作物</h2>
      <a href= " https://salty-atoll-27410.herokuapp.com/">簡易掲示板</a>
      <br><a href= " https://floating-hollows-63176.herokuapp.com/"  class="twitter">Twitter風アプリ</a>
　　<h2>今後の活動予定</h2>
　　  <p>今現在、Ruby on Rails　を使用して簡単なアプリケーション開発を行うことが可能になりました。
　　  <br>今後は実務を通じて開発スキルを伸ばしていきたいと感じています。</br></p>
　</div>
　　  
    <footer>
      <div class="bottom">
        <p>鈴木俊徳</p>
    </footer>
      </div>
      
 